* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: Arial, Helvetica, sans-serif;
	background-color: #eee;
	color: rgba(0, 0, 0, 0.8);
}

a {
	color: #4040ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	font-weight: 300;
}

#main {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	margin: 2rem 1rem;

	#header {
		h1 {
			font-size: 3rem;
		}

		p {
			font-size: 1.2rem;
			margin-top: 1rem;
		}
	}

	#img-div {
		margin-top: 1rem;
		padding: 2rem;
		background-color: #fff;

		img {
			max-width: 100%;
			display: block;
			height: auto;
			margin: 0 auto;
		}
	}

	#tribute-info {
		margin: 1rem;

		h2+p {
			max-width: 600px;
			text-align: justify;
			margin: 0 auto;
		}

		p {
		 font-size: 1.3rem;
		 margin-top: 3rem;
		}
	}
}